{% extends 'layout.html' %} {% block content%}
<div>
  <h1>Welcome to movie webApp!</h1>
  <h1>Search for movies!</h1>
  <form method="POST" action="/movie">
    <label for="user_input">Enter movie name :</label>
    <input type="text" id="user_input" name="user_input" />
    <input type="submit" value="submit" />
  </form>
</div>
{% endblock content%}

<!-- This is the homepage. Using HTML form tag.
User input will be pass through flask and used. Once submitted. It will redirect
user to /movie URL. -->
