{% extends 'layout.html' %} {% block content %}
<div>
  <h1 class="title">{{movie_data['Title']}}</h1>
  <div>
    <img src={{movie_data["Poster"]}}/>
    <div class="rating">
      <h4>Rating : {{movie_data['imdbRating']}}</h4>
    </div>
    <div>
      <ul>
        <li>Rated: {{movie_data['Rated']}}</li>
        <li>Year: {{movie_data['Year']}}</li>
        <li>Runtime: {{movie_data['Runtime']}}</li>
      </ul>
    </div>
    <h3>Plot:</h3>
    <p>{{movie_data['Plot']}}</p>
  </div>

  <form method="POST" action="/streaming">
    <label for="user_input"></label>
    <input
      type="text"
      id="user_input"
      name="user_input"
      value="{{movie_data['Title']}}" />
    <input type="submit" value="Where to watch?" />
  </form>
</div>

{% endblock content %}

<!-- movie_data json file was passed through.
using the data dictionary to present data accordingly.-->
